@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow: hidden;
    background-color: black;
}
  
.background-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-container {
    position: absolute;
    top: 73.4%;
    left: -1.8%;
    width: 40vw;
    height: 15vw;
}

.main-hex {
    position: absolute;
    top: 3vw;
    left: 4vw;
    height: 9.2vw;
    width: 10.9999vw;
}

.hexagon {
    position: absolute;
    height: 9.2vw;
    width: 10.9999vw;
}

.hexaprogress {
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 9.2vw;
    width: 10.9999vw;
    animation: progressAnimation 2s infinite alternate;
}

@keyframes progressAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}


.logo {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 8.5vw;
    height: 8.5vw;
}

.top-rec {
    position: absolute;
    top: 2.9vw;
    left: 12.8vw;
    height: 3.2vw;
    width: 16.9999vw;
}

.toprec {
    position: absolute;
    height: 3.2vw;
    width: 16.9999vw;
}

.top-text {
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-size: 1.3vw;
    color: lightgray;
    bottom: -13%;
    left: 35%;
}

.bottem-rec {
    position: absolute;
    top: 8.3vw;
    left: 13.9vw;
    height: 5.2vw;
    width: 13.9999vw;
}

.bottomrec {
    position: absolute;
    height: 5.2vw;
    width: 13.9999vw;
}

.bottem-text {
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-size: 1.3vw;
    color: lightgray;
    bottom: 10%;
    left: 39%;
}

.progressbar {
    position: absolute;
    top: 6.2vw;
    left: 15.4vw;
    height: 3.1vw;
    width: 17.9999vw;
}

.load-bar {
    position: absolute;
    display: flex;
    width: 35%;
    height: 4.3vw;
    left: 32%;
    top: 50%;
    transform: translate(28%, -44%);
    border-radius: 1.2vw;
    justify-content: center;
    align-items: center;
}
  
.load-bar .load-bar-l {
    display: inline-block;
    width: 17.5vw;
    height: 1.51vw;
    background: rgba(84, 130, 255, 0.07);
    -webkit-mask: linear-gradient(90deg, #000 79%, #0000 0) 0/6%;
}
  
.load-bar .load-bar-l .load-bar-y {
    height: 100%;
    width: 60%;
    box-shadow: 0px 0px 100px rgba(187, 196, 226, 0.25), inset 0px 20px 4px rgb(0 194 124);
}

.hex-container {
    display: flex;
    margin: 0px;
    position: absolute;
    bottom: 23%;
    margin-bottom: 1%;
    margin-left: 5%;
}

.hexa {
    width: 3.5vw;
    height: 3.5vw;
    position: relative;
    margin-right: 1vw;
    border-radius: 1vw;
    cursor: pointer;
}

.hex-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}